<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>basket-webpack</title>
  </head>
  <body>
  	<style>
  		.empty{
  			opacity: 0;
  		}
  	</style>
     <div id="products-basket-app">
		<div class="products">
	      <div id="beer" class="box">
	          <img src="https://chenyiya.com/codepen/product-1.jpg"> 
	          <i class="fa fa-plus" v-on:click="addItem({img: 'https://chenyiya.com/codepen/product-1.jpg',title: 'Beer Bottle',price: '25',id: 'beer'})">+</i> 
	          <h2>Beer Bottle</h2> 
	          <p>25 ₽</p>
	      </div>
	      <div id="beer2" class="box">
	          <img src="https://chenyiya.com/codepen/product-2.jpg"> 
	          <i class="fa fa-plus" v-on:click="addItem({img: 'https://chenyiya.com/codepen/product-2.jpg',title: 'Beer Bottle2',price: '125',id: 'beer2'})">+</i> 
	          <h2>Beer Bottle</h2> 
	          <p>25 ₽</p>
	      </div>
	      <div id="beer3" class="box">
	          <img src="https://chenyiya.com/codepen/product-3.jpg"> 
	          <i class="fa fa-plus" v-on:click="addItem({img: 'https://chenyiya.com/codepen/product-3.jpg',title: 'Beer Bottle3',price: '325',id: 'beer3'})">+</i> 
	          <h2>Beer Bottle</h2> 
	          <p>25 ₽</p>
	      </div>                
	    </div>

	    <div id="basket-container">
	    	
		    <!-- <input type="hidden" name="FIELDS[PRODUCTS][]" v-for="item in basket_items" v-bind:value="item.id"/>
		    <input type="text" name="FIELDS[PRODUCTS][]" v-for="item in basket_items" v-bind:value="item.qty"/> -->
		    
	    	
	        <div class="basket-block" 	>
	          <basket-item v-for="(basket_item, i) in basket_items" v-bind:buy_data="basket_item"></basket-item>
	          <h4 class="basket-block__total">Итого: {{total.sum}} ₽</h4>
	        </div>
	    </div>

	    <div class="small-basket-container" v-bind:class="[total.count ? '' : 'empty', {'cart-open':open && total.count}]">
	    	<div class="small-basket-overlay" @click.prevent="open = !open"></div>
	      <a href="#" class="small-basket-trigger" @click.prevent="open = !open">
	        <ul class="small-basket-count"><li>{{ total.count }}</li></ul>
	      </a>
	      <div class="small-basket-block">
	        <div class="wrapper">
	          <header>
	            
	          </header>
	          <div class="body">
	            <small-basket-item v-for="(basket_item, i) in basket_items" v-bind:buy_data="basket_item"></small-basket-item>
	            <div class="small-basket-total">Итого - <span>{{ total.sum }} ₽</span></div>
	          </div>
	          <footer>
	            <a href="#checkout" class="checkout" @click="open = !open">
	              <em>Оформить</em>
	            </a>
	          </footer>
	        </div>
	      </div>
	    </div>


     </div>

    <script src="dist/script.js"></script>
  </body>
</html>
